.lyrics {
  margin: auto;
  width: 50%;
  padding: 10px;
  color: #383838;
  text-align: center;
  background-color: #ffffff;
  border-style: ridge;
}

.container {
    width: 100%;
    background-color: #c9c9c9;
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
}
